MONGO_URL="mongodb://localhost:27017"
DB_NAME="test_database"
CORS_ORIGINS="*"
SENDGRID_API_KEY="SG_xxxxxxxxxxxxxxxxxxxxxxxxx"
SENDER_EMAIL="your_verified_sender@gmail.com"
INQUIRY_NOTIFICATION_TO="your_destination_inbox@gmail.com"